<IfModule mod_rewrite.c>
    RewriteEngine On
    # Solo si el document root NO es public: enviar todo a public/index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ public/index.php [L]
</IfModule>
