<IfModule mod_rewrite.c>
    RewriteEngine On

    # Enviar a Laravel todo lo que no sea archivo o carpeta real (compatible cPanel)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>